html,body,.mui-content{
	height: 100%;
}
.mui-content{
	background: #fff;

}
header {
	width: 100%;   
	height: 70px !important;
	background: url(../img/login.png) no-repeat;
	background-size:  cover;
	box-shadow: none !important;  
	padding-top: 28px; 
}
.mui-content{
	padding-top: 70px !important;
}


header a {
	color: #fff;
}
  
.mui-title {
	color: #fff!important;
}
.reg{
	position: absolute;
	top: 38px;  
	right: 15px;
	font-size: 13px;
	color: #fff;
}
.logo{
	width: 18%;
	margin: 40px auto;
}
.logo img{
	width: 100%;
}

.login_form{
	margin: 0 25px;
}
.mui-input-group:before,.mui-input-group:after{
	height: 0 !important;
}
.login_form .mui-input-row img{
	width: 7%;
	vertical-align: middle;
}
.login_form input{
	padding: 0;
	width: 70%;
	font-size: 15px;
}
.login_form .phone .mui-icon-clear{
	right: 30px !important;
}
.mui-input-group .mui-input-row:after{
	left: 0;
}
.mui-input-group .mui-input-row{
	position: relative;
}
.mui-input-group .mui-input-row{
	margin-bottom: 10px;
}
.more_phone{
	position: absolute;
	top: 0;
	right: 0;
	line-height: 40px;
	font-size: 25px !important;
	color: #999999;
}
.more_phone:before{
	border-left: 1px solid #eee;
	padding-left: 5px;
}

::-webkit-input-placeholder {
	color: #A2A2A2;
	font-size: 14px;
}

:-moz-placeholder {
	color: #A2A2A2;
	font-size: 13px;
}

::-moz-placeholder {
	color: #A2A2A2;
	font-size: 13px;
}

:-ms-input-placeholder {
	color: #A2A2A2;
	font-size: 13px;
}

.mui-checkbox input[type=checkbox]:checked:before {
	content: '\e442' !important;
	color: #1EBD80 !important;
}

.mui-checkbox input[type=checkbox]:before {
	font-size: 20px !important;
	vertical-align: middle;
}

.mui-checkbox input[type=checkbox] {
	position: static !important;
	width: 20px !important;
	height: 20px !important;
}

.ml_operation{
	padding: 10px 0;
}
.ml_operation .forget{
	font-size: 14px;
}
.ml_operation .remember{
	font-size: 13px;
}
.mui-checkbox label{
	display: inline;
	padding-right:0;
}
.login{
	left: 50%;
	width: 100%;
	margin-left: -50%;
	background: #DDDDDD;
	border: none !important;
	padding: 10px 15px;
	font-size: 15px;
}
.switch{
	text-align: center;
	margin-top: 15px;
}
.hq_code{
	width: 30% !important;
	padding: 10px !important;
	background: #DDDDDD;
	border: none;
	font-size: 12px;
	top: 3px;
}
.hq_code:disabled{
	opacity: 1;
}
.switch_content{
	position: relative;
	height: 40px;
	overflow: hidden;
}
.mima_l{
	position: absolute !important;
	top: 0;
	left: 0;
	width: 100%;
}
.yz_l{
	position: absolute !important;
	top: 0;
	left: 100%;
	width: 100%;
}
