header {
	width: 100%;   
	height: 70px !important;
	background: url(../img/login.png) no-repeat;
	background-size:  cover;
	box-shadow: none !important;
	padding-top: 28px; 
}
.mui-content{
	padding-top: 70px !important;
}


header a {
	color: #fff;
}

.mui-title {
	color: #fff!important;
}
.mui-slider-indicator.mui-segmented-control{
	position: fixed;
	top: 44px;
	left: 0;
	width: 100%;
	background: #383747;
	color: #fff;
	padding: 5px 15px;
	z-index: 99;
}
.item_list{
	border: 1px solid #fff;
	border-radius: 5px;
}
.mui-control-item{
	line-height: 28px !important;
	font-size: 15px;
	border-right: 1px solid #fff !important;
}
.mui-control-item:last-child{
	border: 0 !important;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
	color: #333 !important;
	background: #fff;
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item{
	border: 0;
}
.mui-table-view:after{
	height: 0 !important;
}
.mui-slider-group{
	margin-top: 40px;
}

.grade{
	position: relative;
	width: 100%;
	background: #383747;
	text-align: center;
}
.grade img{
	width: 35% !important;
}
.grade .current_level{
	position: absolute;
	top:10px;
	right: 15px;
	font-size: 15px;
	color: #BEA96A;
}
.mui-view{
	background: #fff;
	padding-left: 15px;
}
.mui-slider-item .sign{ 
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	background: #fff;
	margin: 0;
	color: #333;
	border-bottom: 1px solid #eee;
}
.mui-view ul li{
	height: 50px;
	padding-right: 15px;
}
.mui-view ul li .icon_img{
	width: 9%;
	text-align: center;
	line-height: 48px;
	margin-right: 8px;
}
.mui-view ul li .icon_img img{
	vertical-align: middle;
}
.mui-view ul li .fr_c{
	line-height: 50px;
	font-size: 13px;
	color: #999999;
}
.mui-view ul li .fr_m{
	line-height: 50px;
	font-size: 13px;
	color: #BEA96A;
}
.mui-view ul li .free{
	height: 24px;
	line-height: 24px;
	border: 1px solid #2FAAFA;
	border-radius: 20px;
	padding: 0 10px;
	font-size: 13px;
	color: #2FAAFA;
	margin-top: 13px;
}
.mui-view ul li .pay_m{
	height: 24px;
	line-height: 25px;
	border-radius: 20px;
	padding: 0 10px;
	font-size: 13px;
	margin-top: 13px;
	background: #2FAAFA;
	color: #fff;
}
.long_hight{
	display: none;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-top: 30px;
}
.hidden{
	display: none;
}
