header {
	width: 100%;  
	height: 70px !important; 
	background: url(../img/login.png) no-repeat;
	background-size:  cover;
	box-shadow: none !important;
	padding-top: 28px; 
}
.mui-content{
	padding-top: 70px !important;
}


header a {
	color: #fff;
}

.mui-title {
	color: #fff!important;
}
.search{
	height: 35px;
	margin: 15px 10px;
	border-radius: 3px;
}
.search input[type="text"]{
	float: left;
	width: 85%;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	border: 1px solid #FF7268;
	border-radius: 3px 0 0 3px;
}
.search_btn{
	float: left;
	height: 35px;
	width: 15%;
	border: none !important;
	background: #FF7268 url(../img/search-btn.png) center no-repeat !important;
	background-size: 50% 65% !important;
	border-radius: 0 3px 3px 0 !important;
}
.grid{
	margin-left: 1%;
}
.grid li{
	float: left;
	width: calc(97% / 3);
	height: 70px;
	background: #fff;
	margin-right: 1%;
	margin-bottom: 1%;
	text-align: center;
	padding: 10px 0;
}
.grid_img{
	height: 30px;
	line-height: 30px;
	margin-bottom: 3px;
}
.grid_img img{
	vertical-align: middle;
}
.grid .mui-media-body{
	font-size: 14px !important;
}

.hot_title{
	color: #FF7268;
	font-size: 15px;
	padding: 10px;
}

.product_list{
	margin-left: 2%;
}
.product_list li{
	width: calc(96% / 2);
	float: left;
	background: #fff;
	margin-right: 2%;
	margin-bottom: 2%;
	text-align: center;
}
.product_img{
	width: 90%;
	margin: 5% auto 0;
	border: 1px solid #eee;
}
.product_img img{
	width: 100%;
}
.product_name{
	margin: 10px auto 0;
	color: #000;
}
.product_js{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
font-size: 12px;
}
.money{
	font-size: 15px;
	color: #FF7268;
}
.mui-popup-buttons{
	display: none;
}

.more{
	display: none;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	overflow: hidden;
	width: 100%;
}
