*{
	margin: 0;
	padding: 0;
}
body{
	color: #22222E;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
}

input{
	caret-color: #96DEC0;
	-webkit-user-select: auto; 
}
/*ul{
	margin: 0;
	padding: 0;
}*/
li{
	list-style: none;
}
