header {
	width: 100%; 
	height: 70px !important;  
	background: url(../img/login.png) no-repeat;
	background-size:  cover;
	box-shadow: none !important;
	padding-top: 28px; 
}

header a {
	color: #fff;
}

.mui-title {
	color: #fff!important;
}
.profit_info{
	height: 240px;
	background: url(../img/user_bg.png) no-repeat center;
	background-size: 100% 100%;
	text-align: center;
	color: #fff;
	padding-top: 80px;   
}
.profit_info p{
	margin-bottom: 20px;
	color: #fff;
}
.profit_info .sign{
	font-size: 14px;
}
.profit_info .profit_money{
	font-size: 25px;
	color: #fff;
}
.profit_info .total_monry{
	color: #fff;   
	font-size: 15px;
}
.invite_num{
	padding: 5px 0;
}
.invite_num li{
	width: calc(100% /3);
	text-align: center;
	float: left;
	border-right: 1px solid #fff;
}
.invite_num li:last-child{
	border-right: 0;
}
.invite_num li.tx .tx_btn{
	display: inline-block;
	height:28px;
	line-height:26px;
	border:1px solid #fff;
	border-radius: 20px;
	font-size: 14px;
	padding: 0 15px;
	margin-top: 5px;
}

.invite_num li p{
	margin: 0;
}
.invite_num li .num{
	font-size: 16px;
	color: #fff;
}
.invite_num li .sign{
	font-size: 12px;
}

.profit_mode{
	margin: 10px 5px;
}

.profit_mode li{
	width: calc(98% / 2);
	background: #fff;
	float: left;
	margin-bottom: 2%;
}
.profit_mode li:nth-child(odd){
	margin-right: 2%;
}
.profit_mode li .title{
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	padding: 0 10px;
	border-bottom: 1px solid #eee;
}
.profit_mode li .title img{
	width: 20%;
	vertical-align: middle;
	margin-bottom: 4px;
	margin-right: 4px;
}
.profit_mode li .title .iconfont{
	font-size: 14px !important;
	 color: #ccc;
}

.profit_mode li .mode_info{
	text-align: center;
	padding: 0 10px;
}
.profit_mode li .mode_info p{
	margin: 5px auto;
}
.profit_mode li .mode_info .money{
	color: #333;
	font-size: 16px !important;
}
.profit_mode li .mode_info .sign{
	font-size: 12px;
}
.profit_mode li .mode_info .profit_num{
	text-align: left;
}
.profit_mode li .mode_info .profit_num .num{
	color: #333;
	font-size: 14px;
}
