html,body,.mui-content,.mui-slider,.mui-slider-group{
	height: 100%;
}
header {
	width: 100%; 
	height: 70px !important;  
	background: url(../img/login.png) no-repeat;
	background-size:  cover;
	box-shadow: none !important;
	padding-top: 28px; 
}
.mui-content{
	padding-top: 70px !important;
}

header a {
	color: #fff;
}

.mui-title {
	color: #fff!important;
}
.no_info{
	position: absolute;
	top: 30%;
	left: 50%;
	width: 50%;
	margin-left: -25%;
	text-align: center;
}
.no_info img{
	width: 100%;
}
.mui-control-item{
	width: 25%;
	background: #fff;
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item{
	border: 0;
	overflow: auto;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
	background: #fff;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active span{
	border-bottom: 2px solid #2FA9FC;
	padding-bottom: 9px;
}

.trade_list li{
	width: 100%;
	background: #fff;
	padding: 10px 15px ;
	border-top: 1px solid #eee;
	align-items:center; 
	display: -webkit-flex;
	font-size: 14px;
	
}
.trade_list li p{
	margin: 0;
}
.trade_list li .time{
	font-size: 12px;
}
.trade_list li .name_h{
	font-size: 13px;
	color: #A3A3A3;
}
.trade_list li .name{
	color: #333;
}
.trade_list li .left{
	width: 70%;
}
.trade_list li .right{
	width: 30%;
	text-align: right;
	font-size: 22px;
	color: #A3A3A3;
} 
.green{
	color: #16C5AE;
}
.red{
	color: #EC5B50;
}
.more{
	height: 40px;
	line-height: 40px;
	text-align: center;
}
